@model CategoryCreate


<h2> Welcome to Category Create Page </h2>
    <form method="post">
        <div class="form-group" style="padding:10px">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control"  asp-for="Name" aria-describedby="emailHelp" placeholder="Enter Name">
            <span asp-validation-for="Name" class="text-danger"></span>
            
        </div>
        <div class="form-group" style="padding:10px">
            <label for="exampleInputName">Description</label>
            <input type="text" class="form-control" asp-for="Description" placeholder="Enter Phone Number">
        </div>

        <div style="padding:10px">
             <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

