@model ProductEditVM;

<h2 style="text-align:center; color:darkblue ; padding:13px">Update product Info</h2>

<div class="card" style="padding:12px ">
    <form method="post">
        <div class="row form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4" style="margin:5px">Name</label>
                <input type="text" class="form-control" id="inputEmail4" asp-for="Name" placeholder="Name" style="margin:2px">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" style="margin:5px">Price</label>
                <input type="number" class="form-control" id="inputPrice" asp-for="Price" placeholder="Price" style="margin:2px">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress" style="margin:5px">Description</label>
            <input type="text" class="form-control" id="inputAddress" asp-for="Description" placeholder="Product Description">
        </div>

        <div class="row ">
            <div class="form-group col-md-6">
                <label for="inputCity" style="margin:5px">Color</label>
                <input type="text" class="form-control" id="inputColor" asp-for="Color">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCity" style="margin:5px">Size</label>
                <input type="text" class="form-control" id="inputSize" asp-for="Size">
            </div>
        </div>

        <div style="padding:10px">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
</div>
