@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcometo Ecommerce</h1>

    <div style="padding:10px">
    <a asp-Controller="Customer" class="btn btn-primary">Customer</a>

    <a asp-controller ="Category" class="btn btn-primary">Category</a>

    <a asp-controller ="Product" class="btn btn-primary">Product</a>

    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
